<div class="container">
  <h1>Hey, <%= @user.username %>! What's up?</h1><br>
  <div class="row">
    <div class="col-md-4">
      <img src="http://lorempixel.com/200/200/people">
    </div>
    <div id="ask" class="col-md-8">
      <h3>Your Questions:</h3>
      <% @user.questions.each do |q| %>
        <p> <%= link_to q.title, question_path(q.id) %> </p>
      <% end %>
      <h3>Your Answers:</h3>
      <% answered_questions.each do |a_ques| %>
        <p> <%= link_to a_ques.title, question_path(a_ques.id) %> </p>
      <% end %>
    </div>
  </div>
  <div class="row">

  </div>
</div>